<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544723243496-7dp3hlbb5gf3c3rlsgs7jimi17nhi02k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544723243496-7dp3hlbb5gf3c3rlsgs7jimi17nhi02k</string>
	<key>API_KEY</key>
	<string>AIzaSyBRxkzB3UYWLMQJFqMli80EuWCoWz2D65s</string>
	<key>GCM_SENDER_ID</key>
	<string>544723243496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mybmr.mybmr</string>
	<key>PROJECT_ID</key>
	<string>mybmr-f3824</string>
	<key>STORAGE_BUCKET</key>
	<string>mybmr-f3824.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544723243496:ios:31e4a1f80a4bc3e8a6945d</string>
</dict>
</plist>